@use '@scssVariables' as v;

.container {
  height: 100vh;
  background-color: v.$dark;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.box {
  height: 35vh;
  width: 50%;
  border-radius: 2rem;
  border: 4px dashed v.$primary;
  display: flex;
  align-items: center;
  justify-content: center;
  color: v.$light;
}
